<nav class="navbar navbar-dark fixed-top navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SIU</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Mantenimientos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/alumno">Alumnos</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/carrera">Carreras</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/curso">Cursos</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/facultad">Facultades</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/maestro">Profesores</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/perfil">Perfiles</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/seccion">Secciones</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/sede">Sedes</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="#">Usuarios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Asignaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/asignaciones/asignacionAlumno">Asignación Alumno</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/asignaciones/asignacionProfesor">Asignación Profesor</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Punteo
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/examen">Examenes</a></li>
                        <hr class="dropdown-divider">
                        <li><a class="dropdown-item" routerLink="/mantenimientos/nota">Notas</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                Nombre Perfil
            </span>
        </div>
    </div>
</nav>