<p>Menú Mantenimientos</p>
<div class="container text-center FormasMantenimientos">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Carrera</h5>
                    <p class="card-text">Este es el mantenimiento de carreras, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/carrera" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Curso</h5>
                    <p class="card-text">Este es el mantenimiento de cursos, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/curso" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Examen</h5>
                    <p class="card-text">Este es el mantenimiento de examenes, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/examen" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Facultad</h5>
                    <p class="card-text">Este es el mantenimiento de facultades, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/facultad" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Profesor</h5>
                    <p class="card-text">Este es el mantenimiento de profesores, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/maestro" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Nota</h5>
                    <p class="card-text">Este es el mantenimiento de notas, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/nota" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Perfil</h5>
                    <p class="card-text">Este es el mantenimiento de perfiles, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/perfil" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Seccion</h5>
                    <p class="card-text">Este es el mantenimiento de secciones, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/seccion" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Sede</h5>
                    <p class="card-text">Este es el mantenimiento de sedes, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/mantenimientos/sede" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
    </div>
</div>