<div class="FormasMantenimientos container">
    <p>Menú Mantenimientos</p>
    <ul>
        <li>
            <a routerLink="/mantenimientos/carrera"> Carrera </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/curso"> Curso </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/examen"> Examen </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/facultad"> Facultad </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/maestro"> Maestro </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/nota"> Nota </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/perfil"> Perfil </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/seccion"> Seccion </a>
        </li>
        <li>
            <a routerLink="/mantenimientos/sede"> Sede </a>
        </li>
    </ul>
</div>