<app-menu></app-menu>
<form style="padding-top: 5rem;">
    <div class="container">
        <h2>{{titleAsignacionProfesor}}</h2>
        <div class="row">
            <div class="col order-1">
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{carreraAsignacionProfesor}}</option>
                    <option *ngFor="let carrera of carrera" value="carrera.codigo">{{carrera.nombre}}</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{sedeAsignacionProfesor}}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{seccionAsignacionProfesor}}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{cursoAsignacionProfesor}}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <div class="mb-3">
                    <label for="exampleInputCarnet" class="form-label">{{carnetAsignacionProfesor}}</label>
                    <input type="number" class="form-control" id="InputCarnet" placeholder="Escribir aquí...">
                </div>
                <select class="form-select" aria-label="Default select example">
                    <option selected>{{usuarioAsignacionProfesor}}</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button type="submit" class="btn btn-success espacioEntreBotones">Registrar</button>
                <button type="submit" class="btn btn-warning espacioEntreBotones">Modificar</button>
                <button type="submit" class="btn btn-danger espacioEntreBotones">Dar de baja</button>
            </div>
            <div class="col order-2">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Carrera</th>
                                <th scope="col">Sede</th>
                                <th scope="col">Sección</th>
                                <th scope="col">Curso</th>
                                <th scope="col">Carnet</th>
                                <th scope="col">Tipo Usuario</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let profesor of profesor">
                            <tr>
                                <th scope="row">{{profesor.codigoAsignacion}}</th>
                                <td>{{profesor.codigoCarrera}}</td>
                                <td>{{profesor.codigoSede}}</td>
                                <td>{{profesor.codigoSeccion}}</td>
                                <td>{{profesor.codigoCurso}}</td>
                                <td>{{profesor.carnet}}</td>
                                <td>{{profesor.tipoUsuario}}</td>
                                <td>{{profesor.estado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>