<app-menu></app-menu>
<form style="padding-top: 5rem;">
    <div class="container">
        <h2>{{title}}</h2>
        <div class="row">
            <div class="col order-1">
                <div class="mb-3">
                    <label for="exampleInputCodigo" class="form-label">{{codigo}}</label>
                    <input type="number" class="form-control" id="InputCodigo" aria-describedby="codigoHelp"
                        disabled="false">
                </div>
                <div class="mb-3">
                    <label for="exampleInputNombre" class="form-label">{{nombre}}</label>
                    <input type="text" class="form-control" id="InputNombre" aria-describedby="nombreHelp"
                        placeholder="Escribe aquí...">
                </div>
                <button type="submit" class="btn btn-success espacioEntreBotones">Registrar</button>
                <button type="submit" class="btn btn-warning espacioEntreBotones">Modificar</button>
                <button type="submit" class="btn btn-danger espacioEntreBotones">Dar de baja</button>
            </div>
            <div class="col order-2">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Estado</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let facultad of facultad">
                            <tr>
                                <th scope="row">{{facultad.codigo}}</th>
                                <td>{{facultad.nombre}}</td>
                                <td>{{facultad.estado}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>