<div class="container text-center FormasMantenimientos">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Asignaciones alumnos</h5>
                    <p class="card-text">Este es el area de asignaciones de alumnos, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/asignaciones/asignacionAlumno" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Asignaciones profesores</h5>
                    <p class="card-text">Este es el area de asignaciones de profesores, aquí se podran ingresar sus datos.</p>
                    <a routerLink="/asignaciones/asignacionProfesor" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>