<app-menu></app-menu>
<app-heroe-image></app-heroe-image>
<div class="container text-center espacios">
    <div class="row">
        <div class="col"></div>
        <div class="col col align-self-start">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Mantenimientos</h5>
                    <p class="card-text">En esta area encontrará todos los mantenimientos</p>
                    <a routerLink="/mantenimientos/prueba" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col align-self-end">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/img2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Asignaciones</h5>
                    <p class="card-text">En esta area encontrará todos las asignaciones</p>
                    <a routerLink="/asignaciones/HomeAsignaciones" class="btn btn-primary">Ingresar</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>