<div class="container text-center espacios">
    <div class="row">
        <div class="col"></div>
        <div class="col col align-self-start centrado">
            <div class="card">
                <img src="../../../assets/img.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Página no encontrada</h5>
                    <a routerLink="/shared/home" class="btn btn-primary">Ir al inicio</a>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>